Babel==2.8.0
alembic==1.4.3
SQLAlchemy==1.3.19
PyDrive==1.3.1
Flask==1.1.2
# numpy==1.19.1 | commented out because numpy is not used anymore
humanize==3.1.0
cryptography==3.1.1
line_bot_sdk==1.16.0
selenium==3.141.0
Flask_Migrate==2.5.3
flask_talisman==0.7.0
Flask_SQLAlchemy==2.4.4
furl==2.1.1
python-decouple==3.3
psycopg2==2.8.6