<html>

<head>
    <link rel="stylesheet" href="static/main-style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Credential saving complete</title>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">
            Your credentials have been saved!
        </p>
        <p align="center">
            Now you can go use Goddard Space Center bot!
        </p>
    </div>
</body>

</html>